# Load livestatus module in the file: /etc/nagios/nagios.cfg
broker_module=$libdir/check_mk/livestatus.o /var/spool/nagios/socket/live

# Do not forget to activate broker mofules in general
event_broker_options=-1
